In [1]:
# %pip install psycopg2 
import pandas as pd
import logging
import matplotlib.pyplot as plt
import psycopg2
import csv
from sqlalchemy import create_engine

In [2]:
!curl ipecho.net/plain

41.80.115.55

In [12]:
def extract_data():
    # Load equipment and network sensors
    equipment_sensor = pd.read_csv('equipment_sensor.csv')
    network_sensor = pd.read_csv('network_sensor.csv')
    # Merge the equipment and network sensors file
    merged_sensors = pd.merge(equipment_sensor,network_sensor, how= "left", on = ["ID","date","time"])

    # Use Python logging module to log errors and activities
    logger = logging.getLogger(__name__)
    logger.info("Data extraction completed.")

    return merged_sensors

# Transformation function
def transform_data(merged_sensors):
    # Data cleaning and handling missing values
    merged_sensors=merged_sensors.dropna()
    merged_sensors = merged_sensors.drop_duplicates()
    merged_sensors.rename(columns = {'sensor_reading_x':'equipment_readings','sensor_reading_y':'network_readings'},inplace = True)
    
    #Create a new column of average readings and round it to 2 decimal places
    merged_sensors['average_readings'] = round((merged_sensors['equipment_readings']+ merged_sensors['network_readings'])/2,2)

    # Use Python logging module to log errors and activities
    logger = logging.getLogger(__name__)
    logger.info("Data transformation completed.")
    df = merged_sensors
    return df

# A glimpse of how analysis can be Done
def data_analysis(merged_sensors):
    return plt.bar(merged_sensors['ID'],merged_sensors['network_readings'])

# Loading function
def load_data(df):
      engine = create_engine('postgresql://postgres:pipeline@35.239.51.53:5432/postgres')
      df.to_sql('network',engine , if_exists = 'append', index = False)

In [13]:
load_data(transform_data(extract_data()))

In [16]:
conn = psycopg2.connect(
            host="35.239.51.53",
            port=5432,
            database="postgres",
            user="postgres",
            password="pipeline"
        )

query = "SELECT * FROM network"
queried_frame = pd.read_sql(query,conn)
queried_frame.head()

/Users/ubogalugalu/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,ID,date,time,equipment_readings,network_readings,average_readings
0,1,2022-03-01,08:00:00,26.7,0.58,13.64
1,1,2022-03-01,08:15:00,28.4,0.62,14.51
2,1,2022-03-01,08:30:00,27.8,0.60,14.20
3,2,2022-03-01,08:00:00,99.1,0.89,50.00
4,2,2022-03-01,08:15:00,97.5,0.85,49.18